body{
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.top-container {
    background-color: #A2DBFA;
    margin: 0 auto 20px auto;
    
}

h1{
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 5.625rem;
    color: #053742;
    line-height: 2;
}
h2{
    font-size:2.5rem;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    color: #125D98;
    font-weight: normal;

}

.top-cloud {
    position: relative;
    left:300px;

}


.bottom-cloud {
    position: absolute;


}

a{
    color: #11999E;
}

h3{
    color:#11999E;
}

hr{
    border-style: dotted;
    border-bottom: none;
    width: 5%;
    color:#FFC107;
    height:200%;
    border-width: 5px;
}


.skill-row{
    width: 50%;
    margin : 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row img{
    width:25%;
}
.python{
    float: left;
}

.dsa{
    float: right;
    
}
.webd{
    float: left;
    margin-right: 30px;

}

.skill-row p{
    font-size:1.5rem;
}

.profile p {
    font-size:1.5rem;
}

.profile img{
    border: solid 5px;
    border-radius: 50%;
}

.bottom-container{
    background-color: #A2DBFA;
    margin-bottom: 0;
    padding: 20px;
    margin-top: 20px;
    
}
.bottom-container a{
    color:#053742;
    text-decoration: none;
    padding: 0 4px;
}

.bottom-container p{
    margin-bottom: 0;
    color:#053742;
    font-weight: bold;
}



.BUTTON_NRS {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding: 7px;
    background-color: #3D94F6;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_NRS:hover {
    background: #1E62D0;
    border: solid #337FED 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
 }

 button a{
     color: white;
     text-decoration: none;
 }